<div ng-controller="QueryListController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Add a new query
        </div>
        <div class="panel-body">
            <form role="form">
                <div class="form-group">
                    <textarea style="width: 100%; height: 200px;" id="newQuery" ng-model="newQuery"></textarea>
                </div>
                <button type="submit" class="btn btn-default" ng-click="submitNewQuery()">Submit</button>
            </form>
        </div>
    </div>

    <h2>Registered queries:</h2>

    <div ng-repeat="query in queries">
        <a href="#/query/{{ query.name }}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ query.name }}
                </div>
                <div class="panel-body">
                    <pre>{{ query.query }}</pre>
                </div>
            </div>
        </a>
    </div>
</div>