<div ng-controller="QueryDetailsController">
    <p><a href="#">To Query list</a>

    <div class="alert alert-info" role="alert">
        <h4 id="topic">Topic: {{ query.topic }} <i>(Registered on stream {{ query.stream }})</i></h4>
        <p>
        <pre id="query">{{ query.query }}</pre>
        </p>
    </div>

    <p>Divide the results to <input ng-model="countOfBars" type="number" min="1" max="100" style="width: 50px;"/> equal parts by time. <button ng-click="refreshResult()">Refresh results</button></p></p>
    <div class="chart">
        <bar-chart height="500" data="data"></bar-chart>
    </div>


    <table class="table table-hover">
        <thead>
        <tr>
            <th>Result processed</th>
            <th>Subject</th>
            <th>Predicate</th>
            <th>Object</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rdfTriple in queryResults">
            <td>{{ rdfTriple.created | milliSecondsToTimeString }}</td>
            <td>{{ rdfTriple.subject }}</td>
            <td>{{ rdfTriple.predicate }}</td>
            <td>{{ rdfTriple.object }}</td>
        </tr>
        </tbody>
    </table>
</div>