<div ng-controller="QueryDetailsController">
    <p><a href="#">To Query list</a></p>

    <div class="alert alert-info" role="alert">
        <h4 id="topic">Topic: {{ query.topic }}</h4>

        <p>
        <pre id="query">{{ query.query }}</pre>
        </p>
    </div>

    <p>Divide the results to <input ng-model="countOfBars" type="number" min="1" max="100" style="width: 50px;"/> equal
        parts by time.
        <button ng-click="refreshResult()">Refresh results</button>
    </p>
    </p>
    <div class="chart">
        <bar-chart height="500" data="data"></bar-chart>
    </div>

    <p>
        Display <input ng-model="resultLimit" type="number" min="1" style="width: 50px;"/> newest triples. <i>(Total
        number of triples: {{ triplesTotal }}).</i>
    </p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Result processed</th>
            <th>Subject</th>
            <th>Predicate</th>
            <th>Object</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in queryResults | orderBy:'created':true | limitTo: resultLimit">
            <td>{{ result.created | milliSecondsToTimeString }}</td>
            <td>{{ result.subject }}</td>
            <td>{{ result.predicate }}</td>
            <td>{{ result.object }}</td>
        </tr>
        </tbody>
    </table>
</div>